/* You can add global styles to this file, and also import other style files */
a:hover {
    text-decoration: none !important;
}

h5, h4 {
    margin: 0;
}

.clickable {
    cursor: pointer !important;
}

.app-title {
    margin: 15px 0;
}

.title-item {
    margin-right: 15px;
}

